# Exclude References
/References
# YouCompleteMe
.ycm_extra_conf.py
.color_coded
# Doxygen Documentation
/doxygen
# inputs
/input
# Outputs
*.out
*.test
out/
*.data
*.data.old
# Build and binaries
build/
bin/
# tags
tags
# Matlab shitty temps
**/*.*~
# LaTeX Shitty files
/Report/**/*.eps
/Report/**/*.pdf
/Report/**/*.aux
/Report/**/*.log
/Report/**/*.gz
# Jupyter shitty extensions
.ipynb_checkpoints
# SLURM
*.log
*.slog
slurm-*
#VTune
vtune
