# Exclude References
/References
# YouCompleteMe
.ycm_extra_conf.py
.color_coded
# Doxygen Documentation
/doxygen
# inputs
/input
# Outputs
*.out
out/
# Build and binaries
build/
bin/
# tags
tags
# Matlab shitty temps
**/*.*~
